<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:tx="http://www.springframework.org/schema/tx" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation=" 
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                http://www.springframework.org/schema/aop
                http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                http://www.springframework.org/schema/tx
                http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
                http://www.springframework.org/schema/context
                http://www.springframework.org/schema/context/spring-context-2.5.xsd"
                 default-autowire="byName" default-lazy-init="true">




	<!-- database conection config -->
	<bean id="baseDataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="alias" value="proxool" />
		<property name="driver" value="com.mysql.jdbc.Driver" />
		<property name="driverUrl"
			value="jdbc:mysql://localhost:3306/contract?characterEncoding=UTF-8" />
		<property name="user" value="root" />
		<property name="password" value="123456" />
		<property name="minimumConnectionCount" value="10" />
		<property name="maximumConnectionCount" value="50" />
		<property name="prototypeCount" value="5" />
	</bean>


	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<!--Hibernate TransactionManager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<!-- 配置事务特性，配置add，delete，update开始的方法，事务传播特性为required -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" />
			<tx:method name="delete*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="*" read-only="true" />
		</tx:attributes>
	</tx:advice>
	<!-- 配置那些类的方法进行事务管理，当前com.sy.crm.service包中的子包， 类中所有方法需要，还需要参考tx:advice的设置 -->
	<aop:config proxy-target-class="true">
		<aop:pointcut id="allManagerMethod"
			expression="execution(* cn.com.kxcomm.contractmanage.service.*Service*.*(..))" />
		<aop:pointcut id="allActionMethod"
			expression="execution(public String cn.com.kxcomm.contractmanage.web.action..*.*()) and
			 !execution(* get*()) and !execution(* toString()) and !execution(* ...*$$EnhancerByCGLIB*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="allManagerMethod" />
	</aop:config>



	<!-- hibernate config -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="baseDataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.release_mode">after_transaction</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.jdbc.fetch_size">50</prop>
				<prop key="hibernate.jdbc.batch_size">30</prop>
				<!-- 启用二级缓存 <prop key="hibernate.cache.use_second_level_cache">false</prop> 
					配置缓存插件 <prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop> 
					启用查询缓存 <prop key="hibernate.cache.use_query_cache">false</prop> <prop key="hibernate.generate_statistics">false</prop> -->

				<!-- 启用二级缓存 -->
			<!-- 	<prop key="hibernate.cache.use_second_level_cache">true</prop>
				配置缓存插件
				<prop key="hibernate.cache.provider_class">com.googlecode.hibernate.memcached.MemcachedCacheProvider
				</prop>
				设置memcache缓存服务器端口
				<prop key="hibernate.memcached.servers">kxcomm:11211</prop>
				否使用结构化的方式缓存对象
				<prop key="hibernate.cache.use_structured_entries">true</prop>
				设置二级缓存的前缀名称
				<prop key="hibernate.cache.region_prefix">quality.cache.ehcache</prop>
				启用查询缓存
				<prop key="hibernate.cache.use_query_cache">true</prop> -->

			</props>
		</property>
		<property name="packagesToScan">
			<list>
				<value>cn.com.kxcomm.contractmanage.entity</value>
			</list>
		</property>
	</bean>
	<context:annotation-config />
	<context:component-scan annotation-config="true"
		base-package="cn.com.kxcomm.contractmanage.dao,cn.com.kxcomm.contractmanage.service.impl" />
	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
</beans>