body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../register_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1049px;
    height:3px;
}

.u0 {
    position:absolute;
    left:0px;
    top:67px;
    width:1049px;
    height:10px;
    
}

.u1 {
    position:absolute;
    left:135px;
    top:24px;
    width:203px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:779px;
    top:32px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:727px;
    top:32px;
    width:35px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../register_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:4px;
    width:139px;
    height:3px;
}

.u6 {
    position:absolute;
    left:235px;
    top:106px;
    width:139px;
    height:10px;
    
}

.u7_line {
    background-image: url('../register_files/u7_line.png');
}

.u7_line {
    position:absolute;
    left:0px;
    top:4px;
    width:114px;
    height:3px;
}

.u7 {
    position:absolute;
    left:392px;
    top:106px;
    width:114px;
    height:10px;
    
}

.u8 {
    position:absolute;
    left:377px;
    top:103px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_line {
    background-image: url('../register_files/u9_line.png');
}

.u9_line {
    position:absolute;
    left:0px;
    top:4px;
    width:115px;
    height:3px;
}

.u9 {
    position:absolute;
    left:519px;
    top:106px;
    width:115px;
    height:10px;
    
}

.u10_line {
    background-image: url('../register_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:120px;
    height:3px;
}

.u10 {
    position:absolute;
    left:649px;
    top:106px;
    width:120px;
    height:10px;
    
}

.u11 {
    position:absolute;
    left:636px;
    top:103px;
    width:15px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:507px;
    top:103px;
    width:11px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:358px;
    top:146px;
    width:89px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:474px;
    top:146px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:596px;
    top:146px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../register_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:221px;
    top:221px;
    width:593px;
    height:497px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:599px;
    height:503px;
}

.u17 {
    position:absolute;
    left:2px;
    top:240px;
    width:589px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:310px;
    top:287px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:402px;
    top:282px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:310px;
    top:343px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:402px;
    top:338px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:287px;
    top:399px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:402px;
    top:394px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:309px;
    top:460px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:402px;
    top:456px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#CCCCCC;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:402px;
    top:499px;
    width:144px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:297px;
    top:550px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:402px;
    top:545px;
    width:95px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:402px;
    top:615px;
    width:144px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30_line {
    background-image: url('../register_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:405px;
}

.u30 {
    position:absolute;
    left:638px;
    top:262px;
    width:10px;
    height:405px;
    
}

.u31 {
    position:absolute;
    left:669px;
    top:301px;
    width:122px;
    height:144px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

