/* _lcid="2052" _version="11.0.5531"
    _Telecomit */
body, form {margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: ##FFFFFF;
	font-family: "宋体";
	font-size: 9pt;
}

.treeBody{
	background-color: #EFF0F4;
	margin-left: 5px;
	margin-top: 5px;
}

tr {height:18;}
strong {font-size: 10pt;}
span {height:20;}

.table {
	width:100%;
	align: left;
	valign:top;
	line-height: 18px;
	background-color: #FFFFCC;
}

/** 主页的列表字体 **/
.home_list{
color: #003D7E;
}

.table_header{
background-image:url(../images/bg09.gif);
text-align: center;
height: 22px;
}

.listtable {
width:100%;
margin:0px auto;
border-collapse:collapse;
border:#808598 solid 1px;
border-collapse: collapse;
}


.menu {
	color: #000000;
	font-family: "宋体";
	font-size: 9pt;
	font-weight: bold;
}

A:link {color:#000000; text-decoration: none}
A:visited {color:#000000; text-decoration: none}
A:hover {color:#000000; text-decoration: none}
A:active {color:#000000; text-decoration: none}



.input  {background-color: #ffffff; color: #0033FF; border: 1px #8D9DC6 solid;text-align: left}

.Select {background-color:#E5E4E4;height:18px;BORDER: #ffffff 1px solid; FONT-SIZE:9pt }

.tiny {FONT-FAMILY:"宋体";FONT-SIZE:9pt; color:#333333; text-decoration:none}

.little3 {font-family:"宋体";font-size: 12pt; color: #000000; font-weight:bold; text-decoration: none; line-height: 20px}
.little4 {font-family:"宋体";font-size: 15pt; color: #000000; font-weight:bolder; text-decoration: underline; line-height: 20px}
.little5 {FONT-FAMILY:"宋体";font-size: 9pt; color: blue; text-decoration: none; clip:  rect(   ); line-height: 18px}

.big {FONT-FAMILY:"宋体";FONT-SIZE: 12pt}
.white {font-size:12px; font-style: normal; line-height: normal; color: #FFFFFF; text-decoration: none}

/** 表单的标题 **/
.title{
font-size:14px;
font-variant:inherit;
text-align: center;
}

.smalltitle{
font-size:12px;
font-variant:inherit;
text-align: center;
}

.header{
FONT-FAMILY:"宋体";
font-size: 9pt;
font-weight:normal;
color: blue; 
text-decoration: none; 
clip:  rect(   ); 
line-height: 18px;
background-image:url(../images/bg09.gif);
text-align: center;
}

.header1{
FONT-FAMILY:"宋体";
font-size: 9pt;
font-weight:normal;
color: blue; 
line-height: 18px;
text-align: center;
}

.form_header{
FONT-FAMILY:"宋体";
font-size: 9pt;
font-weight:normal;
color: #000000; 
text-decoration: none; 
clip:  rect(   ); 
line-height: 18px;
}

/** 按钮 
.button {background:white url(../../../img/btnBlack4.gif) no-repeat;border:0;height:20px;width:65px; padding-top:2px;}/*四个字符的按钮*/
**/
/*
.button{
width:60px;height:18px;font-size:12px;margin:1px;border:1px solid #A4B3C8;background-color:#DFE7EF;CURSOR: hand;
}
.button1{
width:80px;height:18px;font-size:12px;margin:1px;border:1px solid #A4B3C8;background-color:#DFE7EF;text-align: center;CURSOR: hand;
}
.button2{
width:100px;height:18px;font-size:12px;margin:1px;border:1px solid #A4B3C8;background-color:#DFE7EF;text-align: center;CURSOR: hand;
}
.button3{
width:120px;height:18px;font-size:12px;margin:1px;border:1px solid #A4B3C8;background-color:#DFE7EF;text-align: center;CURSOR: hand;
}
.button4{
width:140px;height:18px;font-size:12px;margin:1px;border:1px solid #A4B3C8;background-color:#DFE7EF;text-align: center;CURSOR: hand;
}
.button5{
width:160px;height:18px;font-size:12px;margin:1px;border:1px solid #A4B3C8;background-color:#DFE7EF;text-align: center;CURSOR: hand;
}
*/
.route{
	height:18px;font-size:12px;margin:1px;border:1px solid #A4B3C8;background-color:#DFE7EF;text-align: center;CURSOR: hand;
}


/** 下划线编辑框 **/
.editline
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 12px;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: #a0a0a0 1px solid;
    BACKGROUND-COLOR: transparent
}

.edittext
{
border-top: #a0a0a0 1px solid;
border-bottom: #a0a0a0 1px solid;
border-left: #a0a0a0 1px solid;
border-right: #a0a0a0 1px solid;
FONT-SIZE: 12px;
BACKGROUND-COLOR: transparent;
overflow:hidden;
}
.area{
border-top: #a0a0a0 1px solid;
border-bottom: #a0a0a0 1px solid;
border-left: #a0a0a0 1px solid;
border-right: #a0a0a0 1px solid;
FONT-SIZE: 12px;
BACKGROUND-COLOR: transparent;
overflow:auto;
}

.iframe{
border:1px #ffffff solid;
}

.ontip{
background-color: #d6e9fc;
color: #000000;
background-image: url("../images/ontip.gif");
background-repeat: no-repeat;
}

.offtip{
background-color: #ffffff;
color: #d4d4d4;
background-image: none;
}

.tip{
color: red;
}

.treeBody{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #;
}

.step_done{
	color: green;
	font-size: 12px; 
}
.step_goingon{
	color: blue;
	font-size: 15px;
}
.step_undo{
	color: gray;
	font-size: 12px;
}

.stat_header{
	FONT-FAMILY:"宋体";
	font-size: 9pt;
	font-weight:normal;
	background-color:#66CCFF; 
	text-decoration: none; 
	clip:  rect(   ); 
	line-height: 18px;
	text-align: center;
}