body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1556px;
    height:119px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1556px;
    height:119px;
}

.u1 {
    position:absolute;
    left:2px;
    top:52px;
    width:1552px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:135px;
    top:9px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:31px;
    top:9px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:185px;
    top:9px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:748px;
    top:9px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:792px;
    top:9px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:862px;
    top:9px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../cloudServer_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:78px;
    width:1556px;
    height:41px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1562px;
    height:47px;
}

.u12 {
    position:absolute;
    left:2px;
    top:12px;
    width:1552px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:726px;
    top:90px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:827px;
    top:90px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../cloudServer_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:930px;
    width:1530px;
    height:190px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1536px;
    height:196px;
}

.u17 {
    position:absolute;
    left:2px;
    top:87px;
    width:1526px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:135px;
    top:956px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:276px;
    top:956px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:844px;
    top:956px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../cloudServer_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:458px;
    top:992px;
    width:194px;
    height:106px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:194px;
    height:106px;
}

.u22 {
    position:absolute;
    left:2px;
    top:45px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_line {
    background-image: url('../cloudServer_files/u23_line.png');
}

.u23_line {
    position:absolute;
    left:0px;
    top:4px;
    width:776px;
    height:3px;
}

.u23 {
    position:absolute;
    left:135px;
    top:982px;
    width:776px;
    height:10px;
    
}

.u24 {
    position:absolute;
    left:135px;
    top:1002px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:135px;
    top:1028px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:135px;
    top:1054px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:276px;
    top:1002px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:276px;
    top:1054px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:276px;
    top:1080px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:276px;
    top:1028px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:827px;
    top:1002px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../cloudServer_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:94px;
    top:129px;
    width:972px;
    height:791px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:978px;
    height:797px;
}

.u36 {
    position:absolute;
    left:2px;
    top:388px;
    width:968px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_selected {
    background-image: url('../cloudServer_files/u39_selected.png');
}

.u39_normal {
    background-image: url('../cloudServer_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u40 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:22px;
    top:0px;
    width:97px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u42 {
    position:absolute;
    left:3px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u44_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u44_container {
    position:absolute;
    left:22px;
    top:0px;
    width:45px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:51px;
    height:26px;
}

.u45 {
    position:absolute;
    left:3px;
    top:2px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u48_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u48_container {
    position:absolute;
    left:22px;
    top:0px;
    width:71px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:77px;
    height:26px;
}

.u49 {
    position:absolute;
    left:3px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u51_selected {
    background-image: url('../cloudServer_files/u39_selected.png');
}

.u51_normal {
    background-image: url('../cloudServer_files/u39_normal.png');
}

.u51_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u52 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u53_container {
    position:absolute;
    left:22px;
    top:0px;
    width:88px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:94px;
    height:26px;
}

.u54 {
    position:absolute;
    left:3px;
    top:2px;
    width:83px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u56_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:22px;
    top:0px;
    width:97px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:103px;
    height:26px;
}

.u57 {
    position:absolute;
    left:3px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

#u58 {
    position:absolute;
    left:276px;
    top:154px;
    width:723px;
    height:753px;
    overflow:hidden;
}

#pd1u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:723px;
    height:753px;
    
}

.u59 {
    position:absolute;
    left:225px;
    top:258px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:723px;
    height:753px;
    
}

.u60 {
    position:absolute;
    left:107px;
    top:17px;
    width:150px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../cloudServer_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:36px;
    top:17px;
    width:50px;
    height:50px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u62 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:36px;
    top:84px;
    width:660px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_menu {
    background-image: url('../cloudServer_files/u64_menu.png');
}

.u64_menu {
    position:absolute;
    left:33px;
    top:146px;
    width:562px;
    height:35px;
}

#u64_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:559px;
    height:32px;
}

#u65 {
    position:absolute;
    left:3px;
    top:3px;
    width:552px;
    height:25px
}

.u66_normal {
    background-image: url('../cloudServer_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../cloudServer_files/u66_normal.png');
}

.u68_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../cloudServer_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:200px;
    top:0px;
    width:128px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:134px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../cloudServer_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:328px;
    top:0px;
    width:109px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:26px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../cloudServer_files/u74_normal.png');
}

.u77_container {
    position:absolute;
    left:437px;
    top:0px;
    width:109px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../cloudServer_files/u80_normal.png');
}

.u80_container {
    position:absolute;
    left:38px;
    top:350px;
    width:553px;
    height:80px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:559px;
    height:86px;
}

.u81 {
    position:absolute;
    left:2px;
    top:32px;
    width:549px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../cloudServer_files/u80_normal.png');
}

.u82_container {
    position:absolute;
    left:38px;
    top:224px;
    width:553px;
    height:80px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:559px;
    height:86px;
}

.u83 {
    position:absolute;
    left:2px;
    top:32px;
    width:549px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:38px;
    top:202px;
    width:551px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:38px;
    top:328px;
    width:551px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../cloudServer_files/u80_normal.png');
}

.u86_container {
    position:absolute;
    left:38px;
    top:473px;
    width:553px;
    height:80px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:559px;
    height:86px;
}

.u87 {
    position:absolute;
    left:2px;
    top:32px;
    width:549px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:39px;
    top:451px;
    width:551px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../cloudServer_files/u80_normal.png');
}

.u89_container {
    position:absolute;
    left:38px;
    top:588px;
    width:553px;
    height:80px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:559px;
    height:86px;
}

.u90 {
    position:absolute;
    left:2px;
    top:32px;
    width:549px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:37px;
    top:572px;
    width:551px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../cloudServer_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:35px;
    top:715px;
    width:553px;
    height:35px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:559px;
    height:41px;
}

.u93 {
    position:absolute;
    left:2px;
    top:10px;
    width:549px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:36px;
    top:693px;
    width:551px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:48px;
    top:234px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:48px;
    top:260px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:48px;
    top:284px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:133px;
    top:260px;
    width:165px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:132px;
    top:234px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:132px;
    top:284px;
    width:314px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:48px;
    top:360px;
    width:542px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:48px;
    top:498px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:122px;
    top:494px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u104 {
    position:absolute;
    left:232px;
    top:494px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u105 {
    position:absolute;
    left:342px;
    top:494px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u106 {
    position:absolute;
    left:452px;
    top:494px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u107 {
    position:absolute;
    left:122px;
    top:604px;
    width:272px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../cloudServer_files/u61_normal.png');
}

.u108_container {
    position:absolute;
    left:48px;
    top:609px;
    width:50px;
    height:50px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:50px;
}

.u109 {
    position:absolute;
    left:2px;
    top:17px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:48px;
    top:725px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:131px;
    top:725px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:213px;
    top:725px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:312px;
    top:725px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

