body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:10px;
    top:11px;
    width:1556px;
    height:119px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1556px;
    height:119px;
}

.u1 {
    position:absolute;
    left:2px;
    top:52px;
    width:1552px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:145px;
    top:19px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:41px;
    top:19px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:195px;
    top:19px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:758px;
    top:19px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:802px;
    top:19px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:872px;
    top:19px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../try_apply_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:10px;
    top:828px;
    width:1530px;
    height:190px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1536px;
    height:196px;
}

.u10 {
    position:absolute;
    left:2px;
    top:87px;
    width:1526px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:145px;
    top:854px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:286px;
    top:854px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:854px;
    top:854px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../try_apply_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:468px;
    top:890px;
    width:194px;
    height:106px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:194px;
    height:106px;
}

.u15 {
    position:absolute;
    left:2px;
    top:45px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../try_apply_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:776px;
    height:3px;
}

.u16 {
    position:absolute;
    left:145px;
    top:880px;
    width:776px;
    height:10px;
    
}

.u17 {
    position:absolute;
    left:145px;
    top:900px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:145px;
    top:926px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:145px;
    top:952px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:286px;
    top:900px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:286px;
    top:952px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:286px;
    top:978px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:286px;
    top:926px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:837px;
    top:900px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../try_apply_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:195px;
    top:146px;
    width:849px;
    height:672px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:855px;
    height:678px;
}

.u29 {
    position:absolute;
    left:2px;
    top:328px;
    width:845px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_menu {
    background-image: url('../try_apply_files/u30_menu.png');
}

.u30_menu {
    position:absolute;
    left:217px;
    top:160px;
    width:215px;
    height:35px;
}

#u30_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:32px;
}

#u31 {
    position:absolute;
    left:3px;
    top:3px;
    width:205px;
    height:25px
}

.u32_normal {
    background-image: url('../try_apply_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../try_apply_files/u32_normal.png');
}

.u35_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u38 {
    position:absolute;
    left:220px;
    top:212px;
    width:805px;
    height:599px;
    overflow:hidden;
}

#pd0u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:805px;
    height:599px;
    
}

.u39_menu {
    background-image: url('../try_apply_files/u39_menu.png');
}

.u39_menu {
    position:absolute;
    left:3px;
    top:10px;
    width:311px;
    height:35px;
}

#u39_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:308px;
    height:32px;
}

#u40 {
    position:absolute;
    left:3px;
    top:3px;
    width:301px;
    height:25px
}

.u41_normal {
    background-image: url('../try_apply_files/u32_normal.png');
}

.u41_container {
    position:absolute;
    left:0px;
    top:0px;
    width:100px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../try_apply_files/u32_normal.png');
}

.u44_container {
    position:absolute;
    left:100px;
    top:0px;
    width:100px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../try_apply_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:200px;
    top:0px;
    width:96px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u50 {
    position:absolute;
    left:6px;
    top:60px;
    width:795px;
    height:538px;
    overflow:hidden;
}

#pd0u50 {
    position:absolute;
    left:0px;
    top:0px;
    width:795px;
    height:538px;
    
}

.u51_normal {
    background-image: url('../try_apply_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:9px;
    top:10px;
    width:778px;
    height:520px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:784px;
    height:526px;
}

.u52 {
    position:absolute;
    left:2px;
    top:252px;
    width:774px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_line {
    background-image: url('../try_apply_files/u53_line.png');
}

.u53_line {
    position:absolute;
    left:0px;
    top:4px;
    width:778px;
    height:3px;
}

.u53 {
    position:absolute;
    left:9px;
    top:39px;
    width:778px;
    height:10px;
    
}

.u54 {
    position:absolute;
    left:20px;
    top:20px;
    width:104px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u55 {
    position:absolute;
    left:26px;
    top:66px;
    width:742px;
    height:99px
}

.u56_normal {
    background-image: url('../try_apply_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:0px;
    top:0px;
    width:151px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:26px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../try_apply_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:151px;
    top:0px;
    width:69px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:26px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../try_apply_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:220px;
    top:0px;
    width:114px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../try_apply_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:334px;
    top:0px;
    width:224px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:230px;
    height:26px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../try_apply_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:558px;
    top:0px;
    width:179px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../try_apply_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:20px;
    width:151px;
    height:37px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:43px;
}

.u67 {
    position:absolute;
    left:2px;
    top:10px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../try_apply_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:151px;
    top:20px;
    width:69px;
    height:37px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:43px;
}

.u69 {
    position:absolute;
    left:2px;
    top:10px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../try_apply_files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:220px;
    top:20px;
    width:114px;
    height:37px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:43px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../try_apply_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:334px;
    top:20px;
    width:224px;
    height:37px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:230px;
    height:43px;
}

.u73 {
    position:absolute;
    left:2px;
    top:10px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../try_apply_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:558px;
    top:20px;
    width:179px;
    height:37px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:43px;
}

.u75 {
    position:absolute;
    left:2px;
    top:10px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../try_apply_files/u66_normal.png');
}

.u76_container {
    position:absolute;
    left:0px;
    top:57px;
    width:151px;
    height:37px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:157px;
    height:43px;
}

.u77 {
    position:absolute;
    left:2px;
    top:10px;
    width:147px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../try_apply_files/u68_normal.png');
}

.u78_container {
    position:absolute;
    left:151px;
    top:57px;
    width:69px;
    height:37px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:43px;
}

.u79 {
    position:absolute;
    left:2px;
    top:10px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../try_apply_files/u70_normal.png');
}

.u80_container {
    position:absolute;
    left:220px;
    top:57px;
    width:114px;
    height:37px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:120px;
    height:43px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:110px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../try_apply_files/u72_normal.png');
}

.u82_container {
    position:absolute;
    left:334px;
    top:57px;
    width:224px;
    height:37px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:230px;
    height:43px;
}

.u83 {
    position:absolute;
    left:2px;
    top:10px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../try_apply_files/u74_normal.png');
}

.u84_container {
    position:absolute;
    left:558px;
    top:57px;
    width:179px;
    height:37px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:185px;
    height:43px;
}

.u85 {
    position:absolute;
    left:2px;
    top:10px;
    width:175px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:614px;
    top:97px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:614px;
    top:134px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:687px;
    top:97px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:687px;
    top:134px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u90 {
    position:absolute;
    left:18px;
    top:292px;
    width:757px;
    height:236px
}

.u91_normal {
    background-image: url('../try_apply_files/u91_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:0px;
    width:69px;
    height:36px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:42px;
}

.u92 {
    position:absolute;
    left:2px;
    top:10px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../try_apply_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:69px;
    top:0px;
    width:50px;
    height:36px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:42px;
}

.u94 {
    position:absolute;
    left:2px;
    top:10px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../try_apply_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:119px;
    top:0px;
    width:65px;
    height:36px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:42px;
}

.u96 {
    position:absolute;
    left:2px;
    top:10px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../try_apply_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:184px;
    top:0px;
    width:226px;
    height:36px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:42px;
}

.u98 {
    position:absolute;
    left:2px;
    top:10px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../try_apply_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:410px;
    top:0px;
    width:145px;
    height:36px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:42px;
}

.u100 {
    position:absolute;
    left:2px;
    top:10px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../try_apply_files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:555px;
    top:0px;
    width:197px;
    height:36px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:203px;
    height:42px;
}

.u102 {
    position:absolute;
    left:2px;
    top:10px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../try_apply_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:0px;
    top:36px;
    width:69px;
    height:195px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:201px;
}

.u104 {
    position:absolute;
    left:2px;
    top:90px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../try_apply_files/u105_normal.png');
}

.u105_container {
    position:absolute;
    left:69px;
    top:36px;
    width:50px;
    height:195px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:201px;
}

.u106 {
    position:absolute;
    left:2px;
    top:90px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../try_apply_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:119px;
    top:36px;
    width:65px;
    height:195px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:71px;
    height:201px;
}

.u108 {
    position:absolute;
    left:2px;
    top:90px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../try_apply_files/u109_normal.png');
}

.u109_container {
    position:absolute;
    left:184px;
    top:36px;
    width:226px;
    height:195px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:232px;
    height:201px;
}

.u110 {
    position:absolute;
    left:2px;
    top:26px;
    width:222px;
    height:144px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../try_apply_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:410px;
    top:36px;
    width:145px;
    height:195px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:151px;
    height:201px;
}

.u112 {
    position:absolute;
    left:2px;
    top:90px;
    width:141px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../try_apply_files/u113_normal.png');
}

.u113_container {
    position:absolute;
    left:555px;
    top:36px;
    width:197px;
    height:195px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:203px;
    height:201px;
}

.u114 {
    position:absolute;
    left:2px;
    top:90px;
    width:193px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_line {
    background-image: url('../try_apply_files/u115_line.png');
}

.u115_line {
    position:absolute;
    left:0px;
    top:4px;
    width:778px;
    height:3px;
}

.u115 {
    position:absolute;
    left:9px;
    top:222px;
    width:778px;
    height:10px;
    
}

.u116 {
    position:absolute;
    left:26px;
    top:232px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:26px;
    top:266px;
    width:172px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:26px;
    top:205px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

