<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	<import resource="daoContext.xml" />
	<context:component-scan base-package="cn.com.kxcomm.selfservice.*" />
	
	<bean id="exceptionLoggerInterceptor" class="cn.com.kxcomm.base.interceptor.ExceptionLoggerInterceptor">
	</bean>
	<aop:config>
		<aop:aspect id="logThrowing" ref="exceptionLoggerInterceptor">
			<aop:after-throwing pointcut="execution(* cn.com.kxcomm.selfservice.service.*.*(..))"
				throwing="throwable" method="afterThrowing" />
		</aop:aspect>
	</aop:config>  
	
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" propagation="REQUIRED" read-only="true" />
			<tx:method name="search*" propagation="REQUIRED" read-only="true" />
			<tx:method name="save*" propagation="REQUIRED"
				rollback-for="java.lang.Exception" />
			<tx:method name="update*" propagation="REQUIRED"
				rollback-for="java.lang.Exception" />
			<tx:method name="delete*" propagation="REQUIRED"
				rollback-for="java.lang.Exception" />
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	<aop:config>
		<aop:pointcut id="point-service"
			expression="execution(* cn.com.kxcomm.selfservice.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="point-service" />
	</aop:config>

	<bean id="baseDataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<!--
			<property name="driverClassName" value="com.mysql.jdbc.Driver" />
			<property name="url" value="jdbc:mysql://localhost/test" /> <property
			name="username" value="root" /> <property name="password" value="990"
			/>
		-->
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/system_center?characterEncoding=UTF-8" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
	</bean> 
		
	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="baseDataSource" />
	</bean>
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">

		
		<property name="configLocation" value="WEB-INF/classes/modules/sqlMapConfig.xml" />
		<!--
			<property name="configLocation" value="moudles/sqlMapConfig.xml" />
		-->
		<property name="dataSource" ref="baseDataSource" />
	</bean>
</beans>