/*common*/

body {font-family:SimSun;background-color: #E2E2E2; font-size:12px; color:#333; }
.logintable {background:url('common/images/logobg.jpg') repeat-x;width: 100%;height: 60px;border:'0';cellpadding:'0';cellspacing:'0';}
.loginmain {background:url('common/images/mainbg0.gif') repeat-x;width: 100%;height: 650px;border:'0';cellpadding:'0';cellspacing:'0';}
.tabletitle {background: no-repeat; height: 100%;}
.tablemain {background: no-repeat; height: 100%; margin-left:12%;}
.loginbottom {background: no-repeat; height: 100%; margin-left:12%;}
.tableloginiinfotop {background: no-repeat;width:695px; height: 64px; margin-left:18%; margin-top: 10%;}
.tableloginiinforight {background: no-repeat;width:477px; height: 321px; margin-left:18%; }
.tableloginiinfoleft {background: no-repeat;width:218px; height: 321px;  }
