body
{
    margin: 0px;
    font-size: 12px; /*color:#000000;*/
    line-height: 20px;
    background-image: url('../images/test/image/bg.jpg');
  
    background-repeat: repeat-x;
    font-family: Arial, Helvetica, sans-serif;
}
.all
{
    width: 1024px;
    height:auto;
    margin: 0 auto;
    
}
a
{
    color: #666666;
    text-decoration: none;
    
}
a:hover
{
    text-decoration: underline;
}

.header
{
    width: 920px;
    height: 75px;
    margin: 0 auto;
}
.header .logo
{
   	width: 920px;
    height: 65px;
    float: left;
}
.header .headerright
{
    float: none;
    width: 737px;
    height: 30px;
}

.header .headfont
{
    float: left;
    width: 920px;
    height: 32px;
}

.header .move
{
    float: left;
    width: 920px;
    height: 250px;
}

.header .leftMove
{
    float: left;
    width: 32px;
    height: 250px;
}

.header .rightMove
{
    float: left;
    width: 32px;
    height: 250px;
}

.header .headerright .title
{
    margin-top: 13px;
    height: 35px;
    text-align: right;
    margin-right:5px;
    width: 718px;
}
.header .headerright .menubox
{
    width: 684px;
    float:right;
}

.imgdiv
{
    width: 856px;
    height: 250px;
    float:left;
    background-color: #C4EEFC;
}

.imgdiv2
{
    width:920px;
    height:150px;
    margin:0 auto;
    }
.content
{
    width: 920px;
    height: auto;
    margin: 1 auto;
    background:url('../images/test/image/katitbg.gif') repeat-x 0 0;
}
/* .content2
{
    width:920px;
    margin:0 auto;
    height:auto;
   background-image:url(../image/cbg.jpg);
   
} */
    
.contentleft
{
    float:left;
    width:716px;
    height:387px;
   
    }
    
.contentright
{
    float:left;
    width:716px;
    height:auto;    
}

.foot
{
    float:left;
    width: 931px;
    height: 45px;
    background-image: url('../images/test/image/foot2.gif');
    color: #aaa;
    margin-top:5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.footright
{
    margin-top: 15px;
    float: right;
    margin-right: 3px;
    width: 415px;
}
.whitecu
{
    font-weight: bold;
    color: #fff;
}
a.foot2
{
    line-height: 24px;
    color: #aaaaaa;
    text-decoration: none;
}
a.foot2:hover
{
    line-height: 24px;
    color: #aaa;
    text-decoration: underline;
}
.footleft
{
    margin-top:15px;
    float:left;
    margin-left:5px;
    }

.floatleftdiv
{
    float:left;
    width:5px;
    height:534px;
    
    }
.floatrightdiv
{
    float:left;
    width:10px;
    height:536px;
    position:absolute;
    top: 0px;
    left: 1095px;
}