
/* common page styles */


.clear
{
    clear: both;
    overflow: hidden;
    height: 0;
}

a
{
    color: #324143;
   
}

#copyright
{
    width: 80%;
    min-width: 650px;
    margin: 0 auto;
    padding: 20px 35px;
    background: #B6C28B;
    font: 12px tahoma, arial;
    color: #324143;
}

#copyright a
{
    color: #324143;
}

#copyright a:hover
{
    color: #171F26;
}

#jsddm
{
    margin: 0;
    padding: 0;
    float: right;
    width: 579px;
}

#jsddm li
{
    float: left;
    list-style: none;
    font: 12px Tahoma, Arial;
}

#jsddm li a
{
    display: block;
    background: #324143;
    padding: 5px 12px;
    text-decoration: none;
    border-right: 1px solid white;
    width: 70px;
    color: #EAFFED;
    white-space: nowrap;
}

#jsddm li a:hover
{
    background: #24313C;
}

#jsddm li ul
{
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    border-top: 1px solid white;
}

#jsddm li ul li
{
    float: none;
    display: inline;
}

#jsddm li ul li a
{
    width: auto;
    background: #A9C251;
    color: #24313C;
}

#jsddm li ul li a:hover
{
    background: #8EA344;
}

.textalign
{
    text-align: center;
}

/*内容栏样式*/
#tags
{
    margin: 0px 0px 0px 11px;
    padding: 3px 0px 0px 0px;
    height: 23px;
    line-height: 23px;
    overflow: hidden;
}
#tags LI
{
    background: url('../image/tagleft.gif') no-repeat left -23px;
    float: left;
    margin-right: 3px;
    list-style-type: none;
    height: 23px;
    overflow: hidden;
    line-height: 23px;
    width: 132px !important;
    width: 132px;
}

#tags LI A
{
    padding: 0px 40px;
background: url('../imgage/tagright.gif') no-repeat right -23px;
        float: left;
        line-height: 23px;
        height: 23px;
        text-decoration: none;
        font-weight: bold;
}

#tags LI.selectTag
{
    background-position: left top;
    margin-bottom: -2px;
    position: relative;
    height: 23px;
}

#tags LI.selectTag A
{
    background-position: right top;
    color: #000;
    line-height: 23px;
    height: 23px;
}

#tagContent
{
    padding: 0px;
    /*background: url('../image/contentbg.gif') no-repeat 0 0;*/
}

.tagContent
{
    padding: 5px 0px 0px 0px;
    display: none;
    width: 916px;
    color: #474747;
    height: 238px;
    text-align: left;
}

.tagContent .more
{
    width:50px;
    height:25px;
    color:Red;
    margin:20px 0px 0px 40px;
    display:none;
    }
#tagContent DIV.selectTag
{
    display: block;
}
